@import "../../units/typography/utils";
@import  "../../units/colors/utils";
@import "../../vendors/bulma/sass/utilities/_all.sass";

fieldset {
  border: 0 none;
}

.filter-box {
  width: 100%;
  min-height: 220px;
  background-image: url("../images/rocks-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: $color-text;
  font-size: $typography-text-small;
  text-transform: uppercase;
}

.filter__item {
  display: flex;
  flex-direction: column;
}

.filter__item--left {
  @include mobile {
    margin-right: 3rem;
  }

  @media only screen and (max-width: 350px) {
    margin-right: 15px;
  }
  @include tablet {
    margin-right: 6rem;
  }
  @include desktop {
    margin-right: 7rem;
  }
}

.filter__item-top {
  margin-bottom: 2rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.filter__item-title {
  font-size: $typography-text-medium;
  font-weight: bold;
}

.filter__item-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 117px;
}

.filter__item-price {
  height: 38px;
  border: 2px solid $color-text;
  display: flex;
  border-radius: 3px;
  text-align: center;
  width: 220px;

  @include desktop {
    width: 319px;
  }
}

.filter__item-price::before {
  content: '';
  margin: 5px 0;
  border: 1px solid $color-text;
  position: relative;
  left: 50%;
}

.filter__item-price-from {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 6px 10px;
}

.filter__item-price-to {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 6px 10px;
}

.filter__button {
  padding: 0.625rem;
  border-radius: 3px;
  color: $color-text;
  font-size: $typography-text-small;
  text-transform: uppercase;
  border: 2px solid $color-text;
  background: transparent;
  width: 138px;
}

.filter__range {
  width: 100%;
}

.filter__item--bottom {

  @include mobile {
    flex-basis: 100%;
    margin-top: 1rem;
  }
  @include tablet {
    margin-left: auto;
  }
}