@import "../../units/typography/utils";
@import  "../../units/colors/utils";
@import "../../vendors/bulma/sass/utilities/_all.sass";

.input-group {
  display: flex;
  align-items: center;
}

.input {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: $color-form-control;
  font-size: $typography-text-small;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.625rem;
  outline: none;
}

.input-group__date {
  flex: 1;
  position: relative;
}

.calendar {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;

  path {
    fill: $color-form-icon;
  }
}

.input--large {
  width: 100%;
  min-width: 150px;
}

.input--small {
  width: 50px;
  text-align: center;
}


.mr-21 {
  margin-right: 21px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-10 {
  margin-left: 10px;
}

.input-group__counter {
  cursor: pointer;
  color:$color-form-icon;
  font-size: $typography-h2;
  font-weight: bold;
  width: 38px;
  border:none;
  background-color: $color-form-control;
  outline: none;
}

.input-group__field {
  display: flex;
  min-height: 2.4rem;
}

@include mobile {
  .mobile\:mr-73 {
    margin-right: 73px;
  }

  .mobiles\:mb-29 {
    margin-bottom:29px;
  }
}

@include tablet {
  .tablet\:mr-21 {
    margin-right: 21px;
  }
}