@import "../../units/colors/utils";
@import "../../units/typography/utils";

.button {
  color:  $color-text;
  background-color: $color-primary;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button--secondary {
  background-color: $color-secondary;
}