@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import  "../../units/colors/utils";

.card {
  background-color: $color-primary;
  text-align: center;
}

@include mobile {
  .card {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .card--large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .card--btm-border {
    border-bottom: 2px solid $color-divider;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:ml-27 {
    margin-left: 27px;
  }
}

.card__title {
  line-height: 1.312rem;
  color: $color-text;
  font-size: $typography-h2;
  font-weight: bold;
  text-transform: uppercase;
}

.card__number {
  margin: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: $color-text;
}

.card__cental-item {
  margin: 1.8rem;
}

.card__description {
  line-height: 1.312rem;
  color: $color-text;
  font-size: $typography-text-small;
  text-transform: uppercase;
}

@include tablet {
  .card {
    flex-basis: 33.33%;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .pt-3 {
    padding-top: 3rem;
  }

  .card__description {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center;
  }

  .card__title {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
    text-align: center;
  }

  .card__description--black {
    color: $color-primary-text;
  }

}

.card__title--black {
  color: $color-primary-text;
}

.card__description--black {
  color: $color-primary-text;
}

.card__number--black {
  color: $color-primary-text;
}
