@import "../../units/typography/utils";
@import  "../../units/colors/utils";

.main-container {
  background-color: $color-text;
}

.main-container__title {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 3.625rem;
  font-size: $typography-text-medium;
  text-transform: uppercase;
  text-align: center;
}