@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import  "../../units/colors/utils";

.main-paragraph {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  line-height: 1.625rem;
  font-size: $typography-h2;
  color: $color-primary-text;
  font-weight: bold;
  background-color: $color-text;
  text-transform: uppercase;
  text-align: center;
}

.feature-container {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}