@import  "../../units/colors/utils";

.range {
  width: 100%;
  -webkit-appearance: none;
  height: 2px;
  background-color: $color-form-icon;
}

.range:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  height: 23px;
  width: 20px;
  background-image: url("../icons/form-circle.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
}