@import "../../vendors/bulma/sass/utilities/_all.sass";
@import "../../units/typography/utils";
@import  "../../units/colors/utils";


.search {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 69%;

}
@include tablet {
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 568px;
  }
}

.search-form {
  z-index: 1;
  background-color: $color-text;
  color: $color-primary-text;
  position: relative;
  font-size: $typography-text-small;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.625rem;
}

.search-form__title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.625rem;
  font-size: $typography-h2;
  color: $color-text;
  font-weight: bold;
  background-color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
}

.search-form__fields--row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-form__button {
  padding: 1.5rem 0;
  min-width: 100%;

}

.mb-55 {
  margin-bottom: 55px;
}
